.container {
    width: 600px;
    margin: 0 auto;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
}
.card {
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px;

    gap: 2px;
    display: flex;
    }




    .card__image {
        min-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: auto 10px;
}

.newcomment {
    width: 450px;
    border: 2px solid gray;
}

.h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid gray;
    background-color: gray;
}

.card-break {
    word-break: break-all;
}